.masthead {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #211D1D;
    color: #fff;
    background-image: url("/img/cover.png");
    background-repeat: no-repeat;
    background-position: left 120%;
    background-size: 487px 566px;
    background-attachment: scroll;
}
