.pageLogo h1 {
    font-family: 'Comfortaa', Arial, sans-serif;
    margin: 5px;
    display: inline-block;
    padding: 25px;
    padding-left: 75px;
    padding-right: 75px;
    font-size: 72px;
    margin: 0;
    background: url("/img/logo.svg") no-repeat center left;
    background-size: 56px 40px;
}

.pageLogo h2 {
    font-size: 24px;
    color: #D3D3D3;
    padding: 30px;
    font-weight: 300;
    margin: 0;
}

.subtext h2 {
    font-size: 24px;
    color: #D3D3D3;
    padding: 30px;
    font-weight: 300;
    margin: 0;
}
