html {
    box-sizing: border-box;
    background-color: #211D1D;
    color: #fff;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.form-input {
    border: 0px;
    height: 47px;
    width: 100%;
    outline: none;
    line-height: 46px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #111;
    vertical-align: top;
}

.btn {
    width: 100%;
    vertical-align: top;
    height: 47px;
    line-height: 15px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    outline: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #07A9B5;
    color: #fff;
}

.btn:hover {
    background-color: #0ACAD8;
}

.btn-active {
    font-weight: 400;
}

.btn-transparent {
    background-color: transparent;
}

.btn-transparent:hover {
    background-color: rgba(255,255,255,0.1);
}

.btn-danger {
    background-color: #B50707;
}

.btn-danger:hover {
    background-color: #D60D0D;
}

.btn-success {
    background-color: #07B51B;
}

.btn-success:hover {
    background-color: #0DDC25;
}

.page-content {
    max-width: 720px;
    margin: auto;
    padding-bottom: 60px;
}

h1 {
    font-family: 'Comfortaa', Arial, sans-serif;
    margin: 5px;
    display: inline-block;
    padding: 25px;
    padding-left: 75px;
    padding-right: 0;
    font-size: 72px;
    margin: 0;
    background: url("/static/img/logo.svg") no-repeat center left;
    background-size: 56px 40px;
    color: #fff;
}

a, a:visited, a:active {
    color: #fff;
}

a:hover {
}
